.about-content{
    // height: 600px;
    // width: 100px;
}
.about-content-text{
    color: #676666;
    .steve{
        border-left: 3px solid #D3D3D3 ;
        padding-left: 25px;

    }   
}