.footer-content{
    p{
        color: #676666;
    }
}

.footer-icon{
    color: #676666;
}

.footer-link{
    .link-list{
        color: #676666;
        text-decoration: none;
        list-style: none;
        padding-left: 0;
        li{
            padding-bottom: 10px;
        }
    }
}