.banner-global{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../../assets/woman-holding-various-shopping-bags-copy-space.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: left top;
    height: 150px;
    color: #fff;
}