@import './components/Header';
@import './components/BannerHome';
@import './components/BannerGlobal.scss';
@import './components/CardComingSoon';
@import './components/ProductCardHome';
@import './components/CardProductHome.scss';
@import './components/Footer';
@import './components/BannerVideoHome';
@import './components/About';
@import './components/Contact';